<div class="container-fluid full-width" (window:keyright)="right($event)" (window:keyleft)="left($event)">
  <pdf-viewer *ngIf="documentPath" #pdfViewer [src]="'http://localhost:5000' + documentPath" [page]="page" [original-size]="false" style="display: block;"></pdf-viewer>
  <div class="record-overlay">
    <button class="btn btn-primary" (click)="record()"><i class="fa fa-microphone"></i></button>
  </div>
  <div class="language-selector btn-group">
    <button id="single-button" type="button" class="btn btn-primary" (click)="toggleDropdown($event)">
      Choose Language <span class="caret"></span>
    </button>
    <ul dropdownMenu role="menu" aria-labelledby="single-button">
      <li role="menuitem"><a class="dropdown-item" (click)="selectLanguage('en')" href="javascript:void(0);">English (live)</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="selectLanguage('de')" href="javascript:void(0);">German</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="selectLanguage('fr')" href="javascript:void(0);">French</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="selectLanguage('es')" href="javascript:void(0);">Spanish</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="selectLanguage('it')" href="javascript:void(0);">Italian</a></li>
    </ul>
  </div>
  <div class="text-overlay">
    <span>{{ currentText.text }}</span>
  </div>
</div>
