@import '../../style/_variables';

.btn-round {
  border-radius: 48px;
  width: 48px;
  height: 48px;
  background-color: rgb(50, 50, 50);
  border: none;
}

.btn-round:hover {
  background-color: $brand-primary;
}

// live blinking shizzle
.live {
  color: $brand-danger;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

// pdfjs
.ng2-pdf-viewer-container {
  canvas {
    height: 100%;
  }
}

.text-overlay-final, .text-overlay-interim {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  font-size: 48px;

  span {
    padding: 5px 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

}

.text-overlay-interim {
  bottom: 40px;

  .interim {
    font-size: 0.8em;
    color: white;
    font-style: italic;
  }
}

.full-width {
  padding-left: 0;
  padding-right: 0;
}

.record-overlay {
  position: absolute;
  top: 25px;
  left: 25px;
}

.language-selector {
  position: absolute;
  top: 25px;
  left: 90px;
}

.download-overlay {
  position: absolute;
  top: 25px;
  left: 155px;
}

.pop-in-animation {
  animation: pop-in 0.5s;
}

@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
