// Colors
$brand-primary: #105272;
$brand-grey: #333333;
$brand-grey-lighter: lighten($brand-grey, 50%);

$brand-danger: #d9534f;
$brand-warning: #f0ad4e;
$brand-info: #5bc0de;

// Border Radius
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
