<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" style="height: 200px; margin-left: -40px; padding-top: 100px;">
      <div class="budgie-flap">
        <img src="/img/logo_budgie_closed.png">
        <img src="/img/logo_budgie_open.png" class="budgie-flap-animated flap infinite">
        <img src="/img/logo_budgie_open_half.png" class="budgie-flap-animated flap-mid infinite">
        <img src="/img/logo_budgie_eye_closed.png" class="budgie-eye-animated blink infinite">
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12 text-center upload">
        <h1>PowerParrot</h1>
        <h2>make your audience understand</h2>
        <div class="upload-block">
        <input class="input-document"
          id="file"
          name="file"
          type="file"
          ng2FileSelect
          [uploader]="uploader"
          accept="application/pdf">

          <label *ngIf="uploader.getNotUploadedItems().length == 0" for="file">
            <button type="button" class="btn btn-lg btn-primary">
              Choose your Presentation
            </button>
          </label>
          <button type="button" class="btn btn-lg btn-success" (click)="upload()" *ngIf="uploader.getNotUploadedItems().length > 0 && uploader.progress == 0">
            Upload!
          </button>
          <button *ngIf="uploader.progress >= 1" type="button" class="btn btn-lg btn-primary" disabled>
            <i class="fa fa-circle-o fa-spin"></i> {{ uploader.progress }}%
          </button>
      </div>
    </div>
</div>
