.upload {
  margin-top: 400px;
}

.upload-block {
  .btn-lg {
    width: 300px;
    height: 100px;
    font-size: 1.8em;
    border-radius: 10px;
  }
}

.input-document {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-document + label {
  display: inline-block;
  background-color: transparent;
	margin-top: 3px;
}

.input-document:focus + label,
.input-document + label:hover {
  background-color: transparent;
}

.input-document + label {
	cursor: pointer; /* "hand" cursor */
}

.input-document + label * {
	pointer-events: none;
}
